.modal-background{
  position: fixed;
  top: 50%;
  left: 50%;
  /* Esto es clave: mueve el elemento hacia atrás la mitad de su propio tamaño */
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.modal h2{
  margin-top: 5px;
}

.form-group {
  margin-bottom: 15px;
  margin-top: 5px
}

.input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  height: 45px;
  background-color: #2d42b9;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover{
  background-color: #1e319e;
}

.header{
  display: flex;
  background-color: rgb(0 2 4);
  color: white;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
}

.balance-container{
  background: rgb(226, 226, 226);
  border-radius: 10px;
  margin: 25px 40px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.balance-container div{
  display: flex;
  align-items: center;
  gap: 15px;
}

.balance-container h2{
  margin: 0;
  font-size: 20px;
}

.balance-container p{
  font-size: 24px;
  font-weight: bold;
}

.movements-container{
  background: rgb(226, 226, 226);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
  margin: 0px 40px;
}

.movements-container h2{
  margin: 10px 0 0 ;
  width: 100%;
  text-align: center;
  
}

.movements-table{
  width: 100%;
}

.filters{
  display: flex;
  width: 100%;
  margin: 20px 0;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}

.filters div:first-child{
  font-weight: bold;
} 

.filters select{
  height: 35px;
  width: 100%;
  outline: none;
  font-weight: 500;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  border: 1px solid #f1f1f1;
  padding-left: 5px;
}

input{
  height: 50px;
  width: 100%;
  outline: none;
  font-weight: 500;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  border: 1px solid #f1f1f1;
  padding-left: 5px;
  font-size: 15px;
}

.filters label{
  margin-top: -19.5px;
  position: relative;
  top: 12px;
  right: 10px;
  width: 70px;
  display: flex;
  justify-content: center;
  color: gray;
  font-size: 13px;
  font-weight: 700;
}

.modal label{
  margin-top: -19.5px;
  position: relative;
  top: 12px;
  width: 70px;
  display: flex;
  justify-content: flex-start;
  color: gray;
  font-size: 13px;
  font-weight: 700;
}

table {
  border-collapse: collapse;
  min-height: 1200px;
}

table, th, td {
  border: 1px solid lightgray;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2d42b9;
  color: white;
}

th, td {
  padding: 10px;
  text-align: center;
}

td{
  font-family: 'Courier New'
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #b9dfff77;}