.modal-background{
  position: fixed;
  top: 50%;
  left: 50%;
  /* Esto es clave: mueve el elemento hacia atrás la mitad de su propio tamaño */
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.modal h2{
  margin-top: 5px;
}

.form-group {
  margin-bottom: 15px;
  margin-top: 5px
}

.input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  height: 45px;
  background-color: #2d42b9;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover{
  background-color: #1e319e;
}

.app{
  display: flex;
}

.app-content{
  margin-left: 250px;
  width: 100%;
}

.sidebar{
  display: flex;
  background-color: #F0F4F8;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  flex-direction: column;
  padding: 0 25px;
  justify-content: space-between;
}

.sidebar h1{
  color: #122071;
  font-style: italic;
  font-weight: bold;
  margin: 0;
  margin-top: 25px
}

.balance-container{
  margin: 50px 10% 20px 10%;
}

.balance-container h2{
  margin: 0;
  font-size: 23px;
  color: #8e8e93;
  margin-bottom: -10px
}

.balance-container p{
  font-family: sans-serif;
  font-size: 60px;
  margin: 0;
}

.movements-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10%;
  border: 2px solid #e9eaeb;
  border-radius: 10px;
}

.movements-header{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 0 ;
}

.movements-header h2{
  margin: 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-start;
  padding-left: 30px;
  font-weight: normal;
}

.movements-header h2 span{
  color: #c7c7cc
}

.movements-table{
  width: 100%;
}

.user{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-weight: bold;
  margin-bottom: 25px;
}


.filters{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  padding: 0 20px;
}

.filters select{
  height: 40px;
  width: 100%;
  outline: none;
  font-weight: 500;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #f1f1f1;
  padding: 0 10px 0 15px;
  color: #414651
}

input{
  height: 50px;
  width: 100%;
  outline: none;
  font-weight: 500;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  border: 1px solid #f1f1f1;
  padding-left: 5px;
  font-size: 15px;
}

.filters label{
  margin-top: -19.5px;
  position: relative;
  top: 12px;
  right: 3px;
  width: 70px;
  display: flex;
  justify-content: center;
  color: gray;
  font-size: 13px;
}

.modal label{
  margin-top: -19.5px;
  position: relative;
  top: 12px;
  width: 70px;
  display: flex;
  justify-content: flex-start;
  color: gray;
  font-size: 13px;
  font-weight: 700;
}

table {
  border-collapse: collapse;
  min-height: 1200px;
}

table, th, td {
  border: 1px solid #e9eaeb;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #fafafa;
  font-weight: normal;
  font-size: 14px;
  text-align: start;
}

th, td {
  padding: 15px 10px;
  text-align: center;
}

td{
  font-family: sans-serif
}

tr:hover {background-color: #b9dfff77;}